@model IEnumerable<BikeSegura.Models.NumerosSeries>

@{
    ViewBag.Title = "Lista de Números de Séries";
    Layout = "~/Views/Shared/_Usuario.cshtml";
}

<div class="container conteudo">
    <p>
        <a class="btn btn-success" href="@Url.Action("CreateNumeros", "NumerosSeries" )" role="button">
            <i class="fas fa-plus"></i>
            Cadastrar Número de Série
        </a>
    </p>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Numero)
                    </th>
                    <th>
                        Marca
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bicicletas.Modelo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tipo)
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @Html.Raw(ViewData["NUMERO"].ToString())
                </tr>
            </tbody>
        </table>
    </div>
</div>
