@model IEnumerable<BikeSegura.Models.RelatosRoubos>

@{
    ViewBag.Title = "RelatosBicicleta";
    Layout = "~/Views/Shared/_Usuario.cshtml";
}

<div class="container conteudo">   
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Cidade do Relato
                    </th>
                    <th>
                        Estado do Relato
                    </th>
                    <th>
                        Informações adicionais sobre o local
                    </th>
                    <th>
                        Roubo
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataRelato)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LocalAdicional)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InformacoesRoubos.Relato)
                        </td>
                        <td>
                            @item.DataRelato.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            <div class="btn" role="group">
                                <a class="btn btn-success" href="@Url.Action("DetalhesRelatosBicicleta", new { id = item.Id })" role="button">
                                    <i class="fas fa-list"></i>
                                    Detalhes
                                </a>                                
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
