@model BikeSegura.Models.Bicicletas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bicicletas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aro.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aro.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CambioDianteiro.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CambioDianteiro.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CambioTraseiro.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CambioTraseiro.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Freio.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Freio.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marcas.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marcas.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quadro.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quadro.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suspensao.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suspensao.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroSerie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroSerie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Informacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Informacoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlertaRoubo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlertaRoubo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendendo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendendo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
