@model BikeSegura.Models.RelatosRoubos

@{
    ViewBag.Title = "DetalhesRelatosBicicleta";
    Layout = "~/Views/Shared/_Usuario.cshtml";
}

<div class="container conteudo">
    <div class="table-responsive table-sm">
        <table class="table table-hover">
            <tr>
                <td>
                    <strong>Cidade do Relato</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Cidade)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Estado do Relato</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Estado)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Informações adicionais sobre o local</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.LocalAdicional)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Roubo</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.InformacoesRoubos.Relato)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Relato</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Relato)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.DataRelato)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DataRelato)
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="form-group col-sm-12">
            <div class="botao-salvar">
                @using (Html.BeginForm())
                {
                    <a class="btn btn-success" href="@Url.Action("RelatosBicicleta", "RelatosRoubos")" role="button">
                        <i class="fas fa-reply"></i>
                        Voltar
                    </a>                    
                }
            </div>
        </div>
    </div>
</div>
