<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bike Segura</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top barra-superior">
        <div class="container">
            @Html.ActionLink("Bike Segura", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-search"></i>
                            Consultar Bicicletas
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-th-list"></i>
                            Visualizar
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index", "Pessoas")">
                                Pessoas
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Index", "Bicicletas")">
                                Bicicletas
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Index", "NumeroSeries")">
                                Números de Série
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Index", "Historicoes")">
                                Históricos
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Index", "InformacoesRouboes")">
                                Informaçõess de Roubos
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Index", "RelatoRouboes")">
                                Relatos de Roubos
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Index", "Aroes")">
                                Aros
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Index", "CambioDianteiroes")">
                                Câmbios Dianteiro
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Index", "CambioTraseiroes")">
                                Câmbios Traseiro
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Index", "Freios")">
                                Freios
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Index", "Marcas")">
                                Marcas
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Index", "Quadroes")">
                                Quadros
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Index", "Suspensaos")">
                                Suspensões
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Index", "Tipoes")">
                                Tipo de Bicicletas
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-plus-circle"></i>
                            Cadastrar
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Create", "Pessoas")">
                                Pessoas
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Create", "Bicicletas")">
                                Bicicletas
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Create", "NumeroSeries")">
                                Números de Série
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Create", "Historicoes")">
                                Históricos
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Create", "InformacoesRouboes")">
                                Informaçõess de Roubos
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Create", "RelatoRouboes")">
                                Relatos de Roubos
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Create", "Aroes")">
                                Aros
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Create", "CambioDianteiroes")">
                                Câmbios Dianteiro
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Create", "CambioTraseiroes")">
                                Câmbios Traseiro
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Create", "Freios")">
                                Freios
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Create", "Marcas")">
                                Marcas
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Create", "Quadroes")">
                                Quadros
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Create", "Suspensaos")">
                                Suspensões
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Create", "Tipoes")">
                                Tipo de Bicicletas
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="btn-group">
                    <a class="btn btn-secondary" href="#" role="button">
                        <i class="fas fa-user"></i>
                        Perfil
                    </a>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-user-edit"></i>
                            Editar Perfil
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-edit"></i>
                            Editar Dados
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-sign-out-alt"></i>
                            Sair
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    @RenderBody()

    <div class="footer">
        <hr>
        <div class="container">
            <p>2018 - Bike Segura</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
