<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/faviconbike.ico">
    <title>@ViewBag.Title - Bike Segura</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top barra-superior-publico">
        <div class="container">
            <a class="navbar-brand">
                <img src="~/Img/marca-publico.png" class="d-inline-block align-top imagem-logo" alt="">
                @Html.ActionLink("Bike Segura", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("BuscarPublico", "NumerosSeries")">
                            <i class="fas fa-search"></i>
                            Consultar Bicicletas
                        </a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="btn btn-outline-light" href="@Url.Action("Create", "Pessoas")" role="button">
                        <i class="fas fa-pen"></i>
                        Cadastre-se
                    </a>
                    <a class="btn btn-outline-light espaco-botao-navbar" href="@Url.Action("Login", "Home")" role="button">
                        <i class="fas fa-sign-in-alt"></i>
                        Entrar
                    </a>
                </form>
            </div>
        </div>
    </nav>

    @RenderBody()

    <div class="footer">
        <hr>
        <div class="container">
            <p>2018 - Bike Segura</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toastr")
    @RenderSection("scripts", required: false)

    @if (TempData["MSG"] != null)
    {
        <script>
        $(document).ready(function () {
            var titulo = "";
            switch ("@TempData["MSG"].ToString().Split('|')[0]") {
            case "success":
                titulo = "SUCESSO";
                break;
            case "warning":
                titulo = "ATENÇÃO";
                break;
            case "error":
                titulo = "ERRO";
                break;
            case "info":
                titulo = "INFORMAÇÃO";
                break;
        }
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "6000",
            "hideDuration": "6000",
            "timeOut": "6000",
            "extendedTimeOut": "6000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
      toastr["@TempData["MSG"].ToString().Split('|')[0]"]("@Html.Raw(TempData["MSG"].ToString().Split('|')[1])", titulo)
      });
        </script>
    }
</body>
</html>
