<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/faviconbike.ico">
    <title>@ViewBag.Title - Bike Segura</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top barra-superior-usuario">
        <div class="container">
            <a class="navbar-brand">
                <img src="~/Img/marca-usuario.png" class="d-inline-block align-top imagem-logo" alt="Logo">
                @Html.ActionLink("Bike Segura", "IndexUsuario", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("DashboardUsuario", "Pessoas")">
                            <i class="fas fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("BuscarUsuario", "NumerosSeries")">
                            <i class="fas fa-search"></i>
                            Consultar Bicicletas
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bicycle"></i>
                            Bicicletas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("ListaBicicletas", "Historicos")">
                                <i class="fas fa-list"></i>
                                Históricos das Bicicletas
                            </a>
                            <a class="dropdown-item" href="@Url.Action("ListaNumerosSeries", "NumerosSeries")">
                                <i class="fas fa-list"></i>
                                Números de Séries
                            </a>
                            <a class="dropdown-item" href="@Url.Action("ListaUsuario", "Imagens")">
                                <i class="fas fa-file-image"></i>
                                Imagens das Bicicletas
                            </a>
                            <a class="dropdown-item" href="@Url.Action("ListaUsuario", "InformacoesRoubos")">
                                <i class="fas fa-lock-open"></i>
                                Informações Sobre Roubos
                            </a>
                            <a class="dropdown-item" href="@Url.Action("ListaUsuario", "RelatosRoubos")">
                                <i class="fas fa-lock-open"></i>
                                Relatos Sobre Roubos
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ListaBicicletasRoubadasUsuario", "Bicicletas")">
                            <i class="fas fa-lock-open"></i>
                            Bicicletas Roubadas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ListaBicicletasVendendo", "Bicicletas")">
                            <i class="fas fa-money-bill-alt"></i>
                            Bicicletas À Venda
                        </a>
                    </li>
                </ul>
                <div class="btn-group">
                    <a class="btn btn-light" href="@Url.Action("Details", "Pessoas")" role="button">
                        <i class="fas fa-user"></i>
                        @HttpContext.Current.User.Identity.Name.Split('|')[1]
                    </a>
                    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("Edit", "Pessoas")">
                            <i class="fas fa-edit"></i>
                            Alterar Dados
                        </a>
                        <a class="dropdown-item" href="@Url.Action("EditarSenha", "Pessoas")">
                            <i class="fas fa-key"></i>
                            Alterar Senha
                        </a>
                        <a class="dropdown-item" href="@Url.Action("EditarImagem", "Pessoas")">
                            <i class="fas fa-image"></i>
                            Alterar Imagem de Perfil
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Home")">
                            <i class="fas fa-sign-out-alt"></i>
                            Sair
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    @RenderBody()

    <div class="footer">
        <hr>
        <div class="container">
            <p>2018 - Bike Segura</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
