<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/faviconbike.ico">
    <title>@ViewBag.Title - Bike Segura</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top barra-superior-usuario">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("IndexUsuario", "Home")">
                <img src="~/Img/marca-usuario.png" class="d-inline-block align-top imagem-logo" alt="">
                @Html.ActionLink("Bike Segura", "IndexUsuario", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("DashboardUsuario", "Pessoas")">
                            <i class="fas fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Buscar", "NumerosSeries")">
                            <i class="fas fa-search"></i>
                            Consultar Bicicletas
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bicycle"></i>
                            Bicicletas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("ListaBicicletas", "Historicos")">
                                <i class="fas fa-list"></i>
                                Minhas Bicicletas
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Create", "Imagens")">
                                <i class="fas fa-file-image"></i>
                                Adicionar Fotos da Bicicleta
                            </a>
                            <a class="dropdown-item" href="@Url.Action("Create", "Bicicletas")">
                                <i class="fas fa-pen"></i>
                                Cadastrar Bicicletas
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="btn-group">
                    <a class="btn btn-light" href="@Url.Action("DashboardUsuario", "Pessoas")" role="button">
                        Olá
                        @HttpContext.Current.User.Identity.Name.Split('|')[1]
                    </a>
                    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("Details", "Pessoas")">
                            <i class="fas fa-user"></i>
                            Perfil
                        </a>
                        <a class="dropdown-item" href="@Url.Action("Edit", "Pessoas")">
                            <i class="fas fa-edit"></i>
                            Editar Dados
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Index", "Home")">
                            <i class="fas fa-sign-out-alt"></i>
                            Sair
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    @RenderBody()

    <div class="footer">
        <hr>
        <div class="container">
            <p>2018 - Bike Segura</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toastr")
    @RenderSection("scripts", required: false)

    @*Ação para apagar a imagem sem atualizar a página*@
    <script>
        $(".excluirfoto").click(function () {
            var id = $(this).attr("rel");
            $.ajax({
                dataType: "json",
                type: "POST",
                url: "/Imagens/ExcluirFoto",
                data: { id },
                success: function (dados) {
                    if (dados == "s")
                        location.reload();
                }
            });
        });
    </script>

    @if (TempData["MSG"] != null)
    {
        <script>
        $(document).ready(function () {
            var titulo = "";
            switch ("@TempData["MSG"].ToString().Split('|')[0]") {
            case "success":
                titulo = "SUCESSO";
                break;
            case "warning":
                titulo = "ATENÇÃO";
                break;
            case "error":
                titulo = "ERRO";
                break;
            case "info":
                titulo = "INFORMAÇÃO";
                break;
        }
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "6000",
            "hideDuration": "6000",
            "timeOut": "6000",
            "extendedTimeOut": "6000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
      toastr["@TempData["MSG"].ToString().Split('|')[0]"]("@Html.Raw(TempData["MSG"].ToString().Split('|')[1])", titulo)
      });
        </script>
    }
</body>
</html>
