@model IEnumerable<BikeSegura.Models.Historicos>

@{
    ViewBag.Title = "ListaBicicletas";
    Layout = "~/Views/Shared/_Usuario.cshtml";
}

<div class="container conteudo">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Marca
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bicicletas.Modelo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bicicletas.Tipos.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bicicletas.Cor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bicicletas.AlertaRoubo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bicicletas.Vendendo)
                    </th>
                    <th>Detalhes</th>
                    <th>
                        Tipo de Transferência
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bicicletas.Marcas.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bicicletas.Modelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bicicletas.Tipos.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bicicletas.Cor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bicicletas.AlertaRoubo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bicicletas.Vendendo)
                    </td>
                    <td>
                        <div class="btn" role="group">
                            <a class="btn btn-success" href="@Url.Action("Details", "Historicos", new { id = item.Id })" role="button">
                                <i class="fas fa-list"></i>
                                Detalhes
                            </a>                            
                        </div>
                    </td>
                    <td>
                        <div class="btn" role="group">                            
                            <a class="btn btn-warning" href="@Url.Action("TransferenciaInterna", "Historicos", new { id = item.Id })" role="button">
                                <i class="fas fa-pen"></i>
                                Transferência Interna
                            </a>
                            <a class="btn btn-danger" href="@Url.Action("TransferenciaExterna", "Historicos", new { id = item.Id })" role="button">
                                <i class="fas fa-pen"></i>
                                Transferência Externa
                            </a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
