@model BikeSegura.Models.Bicicletas

@{
    ViewBag.Title = "Detalhes Bicicleta";
    Layout = "~/Views/Shared/_Usuario.cshtml";
}

<div class="container conteudo">
    <div class="row">
        <div class="col-sm-6">
            <label><strong>@Html.DisplayNameFor(model => model.Marcas.Nome)</strong></label>
        </div>
        <div class="col-sm-6">
            <label>@Html.DisplayFor(model => model.Marcas.Nome)</label>
        </div>
        <div class="col-sm-6">
            <label><strong>@Html.DisplayNameFor(model => model.Modelo)</strong></label>
        </div>
        <div class="col-sm-6">
            <label>@Html.DisplayFor(model => model.Modelo)</label>
        </div>
        <div class="col-sm-6">
            <label><strong>@Html.DisplayNameFor(model => model.Tipos.Nome)</strong></label>
        </div>
        <div class="col-sm-6">
            <label>@Html.DisplayFor(model => model.Tipos.Nome)</label>
        </div>
        <div class="col-sm-6">
            <label><strong>@Html.DisplayNameFor(model => model.Cor)</strong></label>
        </div>
        <div class="col-sm-6">
            <label>@Html.DisplayFor(model => model.Cor)</label>
        </div>
        <div class="col-sm-6">
            <label><strong>@Html.DisplayNameFor(model => model.Imagem)</strong></label>
        </div>
        <div class="col-sm-6">
            <label>@Html.DisplayFor(model => model.Imagem)</label>
        </div>
        <div class="col-sm-6">
            <label><strong>@Html.DisplayNameFor(model => model.CambiosDianteiros.Velocidade)</strong></label>
        </div>
        <div class="col-sm-6">
            <label>@Html.DisplayFor(model => model.CambiosDianteiros.Velocidade)</label>
        </div>
        <div class="col-sm-6">
            <label><strong>@Html.DisplayNameFor(model => model.CambiosTraseiros.Velocidade)</strong></label>
        </div>
        <div class="col-sm-6">
            <label>@Html.DisplayFor(model => model.CambiosTraseiros.Velocidade)</label>
        </div>
        <div class="col-sm-6">
            <label><strong>@Html.DisplayNameFor(model => model.Freios.Nome)</strong></label>
        </div>
        <div class="col-sm-6">
            <label>@Html.DisplayFor(model => model.Freios.Nome)</label>
        </div>
        <div class="col-sm-6">
            <label><strong>@Html.DisplayNameFor(model => model.Suspensoes.Nome)</strong></label>
        </div>
        <div class="col-sm-6">
            <label>@Html.DisplayFor(model => model.Suspensoes.Nome)</label>
        </div>
        <div class="col-sm-6">
            <label><strong>@Html.DisplayNameFor(model => model.Aros.Medida)</strong></label>
        </div>
        <div class="col-sm-6">
            <label>@Html.DisplayFor(model => model.Aros.Medida)</label>
        </div>
        <div class="col-sm-6">
            <label><strong>@Html.DisplayNameFor(model => model.Quadros.Material)</strong></label>
        </div>
        <div class="col-sm-6">
            <label>@Html.DisplayFor(model => model.Quadros.Material)</label>
        </div>
        <div class="col-sm-6">
            <label><strong>@Html.DisplayNameFor(model => model.Informacoes)</strong></label>
        </div>
        <div class="col-sm-6">
            <label>@Html.DisplayFor(model => model.Informacoes)</label>
        </div>
        <div class="col-sm-6">
            <label><strong>@Html.DisplayNameFor(model => model.AlertaRoubo)</strong></label>
        </div>
        <div class="col-sm-6">
            <label>@Html.DisplayFor(model => model.AlertaRoubo)</label>
        </div>
        <div class="col-sm-6">
            <label><strong>@Html.DisplayNameFor(model => model.Vendendo)</strong></label>
        </div>
        <div class="col-sm-6">
            <label>@Html.DisplayFor(model => model.Vendendo)</label>
        </div>
        <div class="form-group col-sm-12">
            <div class="botao-salvar">
                <a class="btn btn-success" href="@Url.Action("Index", "Bicicletas")" role="button">
                    <i class="fas fa-reply"></i>
                    Voltar
                </a>
                <a class="btn btn-primary" href="@Url.Action("Edit", "Bicicletas", new { id = Model.Id })" role="button">
                    <i class="fas fa-pen"></i>
                    Editar
                </a>
            </div>
        </div>
    </div>
</div>
