@model BikeSegura.Models.Bicicletas

@{
    ViewBag.Title = "Editar Bicicleta";
    Layout = "~/Views/Shared/_Usuario.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container conteudo">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.MarcasId, "Marcas", htmlAttributes: new { @class = "control-label" })                
                @Html.DropDownList("MarcasId", (SelectList)ViewBag.MyList, "Selecione Marca", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MarcasId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Modelo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.TipoId, "Tipo da Bicicleta", htmlAttributes: new { @class = "control-label" })                
                @Html.DropDownList("TipoId", (SelectList)ViewBag.MyList, "Selecione Marca", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Cor, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Cor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cor, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-12">
                @Html.LabelFor(model => model.Imagem, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Imagem, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Imagem, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.CambioDianteiroId, "Câmbio Dianteiro", htmlAttributes: new { @class = "control-label" })                
                @Html.DropDownList("CambioDianteiroId", (SelectList)ViewBag.MyList, "Selecione Marca", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CambioDianteiroId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.CambioTraseiroId, "Câmbio Traseiro", htmlAttributes: new { @class = "control-label" })                
                @Html.DropDownList("CambioTraseiroId", (SelectList)ViewBag.MyList, "Selecione Marca", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CambioTraseiroId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.FreioId, "Freio", htmlAttributes: new { @class = "control-label" })                
                @Html.DropDownList("FreioId", (SelectList)ViewBag.MyList, "Selecione Marca", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FreioId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.SuspensaoId, "Suspensão", htmlAttributes: new { @class = "control-label" })                
                @Html.DropDownList("SuspensaoId", (SelectList)ViewBag.MyList, "Selecione Marca", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SuspensaoId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.AroId, "Medida do Aro", htmlAttributes: new { @class = "control-label" })                
                @Html.DropDownList("AroId", (SelectList)ViewBag.MyList, "Selecione Marca", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AroId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.QuadroId, "Material do Quadro", htmlAttributes: new { @class = "control-label" })                
                @Html.DropDownList("QuadroId", (SelectList)ViewBag.MyList, "Selecione Marca", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.QuadroId, "", new { @class = "text-danger" })
            </div>            
            <div class="form-group col-sm-12">
                @Html.LabelFor(model => model.Informacoes, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Informacoes, new { @class = "form-control", rows="3" })
                @Html.ValidationMessageFor(model => model.Informacoes, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.AlertaRoubo, htmlAttributes: new { @class = "control-label" })
                @Html.EnumDropDownListFor(model => model.AlertaRoubo, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AlertaRoubo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Vendendo, htmlAttributes: new { @class = "control-label" })
                @Html.EnumDropDownListFor(model => model.Vendendo, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Vendendo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-12">
                <div class="botao-salvar">
                    <a class="btn btn-danger" href="@Url.Action("Index", "Bicicletas")" role="button">
                        <i class="fas fa-times"></i>
                        Cancelar
                    </a>
                    <button type="submit" value="Save" class="btn btn-success">
                        <i class="fas fa-save"></i>
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
