@model IEnumerable<BikeSegura.Models.Bicicletas>

@{
    ViewBag.Title = "ListaBicicletas";
    Layout = "~/Views/Shared/_Usuario.cshtml";
}

<div class="container conteudo">
    @foreach (var item in Model)
    {
        <div class="card-deck lista-bicicletas">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="holder.js/348x180/" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Número de Série: AAA111</h5>
                    <p class="card-text">Marca: @Html.DisplayFor(modelItem => item.Marcas.Nome)</p>
                    <p class="card-text">@Html.DisplayNameFor(model => model.Modelo): @Html.DisplayFor(modelItem => item.Modelo)</p>
                    <p class="card-text">@Html.DisplayNameFor(model => model.Tipos.Nome): @Html.DisplayFor(modelItem => item.Tipos.Nome)</p>
                    <div class="form-group">
                        <a class="btn btn-primary" href="@Url.Action("Edit", new { id = item.Id })" role="button">
                            <i class="fas fa-edit"></i>
                            Editar Bicicleta
                        </a>
                        <a class="btn btn-danger" href="informacoes-roubo.html" role="button">
                            <i class="fas fa-exclamation-circle"></i>
                            Alertar Roubo
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
    @*<div class="card-deck lista-bicicletas">
            @foreach (var item in Model)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="holder.js/348x180/" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">Número de Série: AAA111</h5>
                        <p class="card-text">Marca: @Html.DisplayFor(modelItem => item.Marcas.Nome)</p>
                        <p class="card-text">@Html.DisplayNameFor(model => model.Modelo): @Html.DisplayFor(modelItem => item.Modelo)</p>
                        <p class="card-text">@Html.DisplayNameFor(model => model.Tipos.Nome): @Html.DisplayFor(modelItem => item.Tipos.Nome)</p>
                        <div class="form-group">
                            <a class="btn btn-primary" href="@Url.Action("Edit", new { id = item.Id })" role="button">
                                <i class="fas fa-edit"></i>
                                Editar Bicicleta
                            </a>
                            <a class="btn btn-danger" href="informacoes-roubo.html" role="button">
                                <i class="fas fa-exclamation-circle"></i>
                                Alertar Roubo
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>*@

</div>

@section Scripts {    
    @Scripts.Render("~/bundles/holder")
}