@model BikeSegura.Models.NumerosSeries

@{
    ViewBag.Title = "Detalhes Número de Série";
    Layout = "~/Views/Shared/_Usuario.cshtml";
}

<div class="container conteudo">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Numero)
                    </th>
                    <th>
                        Marca
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bicicletas.Modelo)
                    </th>
                    <th>
                        Tipo da Bicicleta
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bicicletas.Cor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bicicletas.AlertaRoubo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bicicletas.Vendendo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Numero)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Bicicletas.Marcas.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Bicicletas.Modelo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Bicicletas.Tipos.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Bicicletas.Cor)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Bicicletas.AlertaRoubo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Bicicletas.Vendendo)
                    </td>
                    <td>
                        <div class="btn" role="group">
                            @using (Html.BeginForm())
                            {
                                <a class="btn btn-success" href="@Url.Action("ListaNumerosSeries", "NumerosSeries")" role="button">
                                    <i class="fas fa-reply"></i>
                                    Voltar
                                </a>
                                <a class="btn btn-primary" href="@Url.Action("Edit", "NumerosSeries", new { id = Model.Id })" role="button">
                                    <i class="fas fa-pen"></i>
                                    Editar
                                </a>
                            }
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
