@model BikeSegura.Models.Pessoas

@{
    ViewBag.Title = "Cadastro Usuário";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container conteudo">
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
        <div class="row">
            <div class="form-group col-sm-12">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome Completo" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "nome@email.com" } })
                <small class="form-text">
                    Digite um email válido.
                </small>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.ConfirmaEmail, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ConfirmaEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "nome@email.com" } })
                <small class="form-text">
                    Os emails digitados devem ser iguais.
                </small>
                @Html.ValidationMessageFor(model => model.ConfirmaEmail, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", @maxlength = "32", @placeholder = "********" } })
                <small class="form-text">
                    Sua senha deve ter entre 8 e 32 caracteres, os quais devem ser letras e números, sem espaços, caracteres especiais ou emojis.
                </small>
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.ConfirmaSenha, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ConfirmaSenha, new { htmlAttributes = new { @class = "form-control", @maxlength = "32", @placeholder = "********" } })
                <small class="form-text">
                    As senhas digitadas devem ser iguais.
                </small>
                @Html.ValidationMessageFor(model => model.ConfirmaSenha, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control telmask" } })
                @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control celmask" } })
                @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Cpf, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control cpfmask" } })
                <small class="form-text">
                    Digite um CPF válido.
                </small>
                @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Genero, htmlAttributes: new { @class = "control-label" })
                <div class="form-check">
                    @Html.RadioButtonFor(model => model.Genero, "M")
                    @Html.Label("Masculino")
                </div>
                <div class="form-check">
                    @Html.RadioButtonFor(model => model.Genero, "F")
                    @Html.Label("Feminino")
                </div>
                @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-12">
                <div class="botao-salvar">
                    <a class="btn btn-danger" href="@Url.Action("Index", "Home")" role="button">
                        <i class="fas fa-times"></i>
                        Cancelar
                    </a>
                    <button type="submit" value="Create" id="botaoAlerta" class="btn btn-success">
                        <i class="fas fa-save"></i>
                        Cadastrar
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerymask")
    @Scripts.Render("~/bundles/jqueryjax")

    <script>
        $(document).ready(function () {
            $('.cepmask').mask('00000-000', { placeholder: "00000-000" });
            $('.telmask').mask('(00) 0000-0000', { placeholder: "(DD) 0000-0000" });
            $('.celmask').mask('(00) 00000-0000', { placeholder: "(DD) 00000-0000" });
            $('.cpfmask').mask('000.000.000-00', { placeholder: "000.000.000-00" });
        });
    </script>

    @*<script type="text/javascript">
            $('#botaoAlerta').click(function () {
                var url = "/Pessoas/alertaCadastro";
                var nome = $("#Nome").val();
                var email = $("#Email").val();
                var confirmaemail = $("#ConfirmaEmail").val();
                var senha = $("#Senha").val();
                var confirmasenha = $("#ConfirmaSenha").val();
                var telefone = $("#Telefone").val();
                var cpf = $("#Cpf").val();
                $.post(url, {
                    Nome: nome, Email: email, ConfirmaEmail: confirmaemail,
                    Senha: senha, ConfirmaSenha: confirmasenha, Telefone: telefone, Cpf: cpf,
                }, function (data) {
                    alert(data);
                });
            })
        </script>*@
}
