@model BikeSegura.Models.Pessoas

@{
    ViewBag.Title = "Excluir Usuário";
    Layout = "~/Views/Shared/_Usuario.cshtml";
}

<div class="container conteudo">
    <div class="row">
        <div class="col-sm-6">
            <label><strong>@Html.DisplayNameFor(model => model.Imagem)</strong></label>
        </div>
        <div class="col-sm-6">
            <label>
                <img src="~/Uploads/@Html.DisplayFor(model =>model.Imagem)" style="height:200px;width:200px;" />
            </label>
        </div>
    </div>
    <div class="table-responsive table-sm">
        <table class="table table-hover">
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.Nome)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Nome)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.Email)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.Endereco)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Endereco)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.Numero)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Numero)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.Complemento)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Complemento)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.Cep)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Cep)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.Bairro)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Bairro)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.Cidade)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Cidade)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.Estado)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Estado)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.TelefoneUm)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.TelefoneUm)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.TelefoneDois)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.TelefoneDois)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.Cpf)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Cpf)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.DataNascimento)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DataNascimento)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.Genero)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Genero)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.NomeContato)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.NomeContato)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.TelefoneContatoUm)</strong>
                </td>
                <td>
                    <label>@Html.DisplayFor(model => model.TelefoneContatoUm)</label>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>@Html.DisplayNameFor(model => model.TelefoneContatoDois)</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.TelefoneContatoDois)
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="form-group col-sm-12">
            <div class="botao-salvar">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <a class="btn btn-success" href="@Url.Action("Index", "Pessoas")" role="button">
                        <i class="fas fa-reply"></i>
                        Voltar
                    </a>
                    <button type="submit" value="Delete" class="btn btn-danger">
                        <i class="fas fa-times"></i>
                        Excluir
                    </button>
                }
            </div>
        </div>
    </div>
</div>
