@model BikeSegura.Models.Pessoas

@{
    ViewBag.Title = "Editar Imagem de Perfil";
    Layout = "~/Views/Shared/_Administrador.cshtml";
}

@using (Html.BeginForm("EditarImagemAdm", "Pessoas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container conteudo">
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="form-group col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <label><strong>Imagem de Perfil Atual</strong></label>
            </div>
            <div class="form-group col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <label>
                    <img src="~/Uploads/@Html.DisplayFor(model =>model.Imagem)" style="height:200px;width:200px;" />
                </label>
            </div>
            <div class="form-group col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <label><strong>Adicionar Nova Imagem de Perfil</strong></label>
                <input type="file" name="arquivoimg" class="form-control-file" />
                <small class="form-text">
                    Envie imagem no formato .JPG ou .PNG
                </small>
                @Html.ValidationMessageFor(model => model.Imagem, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="botao-salvar">
                    <a class="btn btn-danger" href="@Url.Action("DashboardAdm", "Pessoas")" role="button">
                        <i class="fas fa-times"></i>
                        Cancelar
                    </a>
                    <button type="submit" value="Save" class="btn btn-success">
                        <i class="fas fa-save"></i>
                        Salvar
                    </button>
                </div>
            </div>
            @*Campos não estão sendo mostrados*@
            <div class="form-group" style="display:none;">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
            <div class="form-group" style="display:none;">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group" style="display:none;">
                @Html.LabelFor(model => model.ConfirmaEmail, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ConfirmaEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmaEmail, "", new { @class = "text-danger" })
            </div>
            <div class="form-group" style="display:none;">
                @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
            </div>
            <div class="form-group" style="display:none;">
                @Html.LabelFor(model => model.ConfirmaSenha, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ConfirmaSenha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmaSenha, "", new { @class = "text-danger" })
            </div>
            <div class="form-group" style="display:none;">
                @Html.LabelFor(model => model.Cpf, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
            </div>
            @*Campos não estão sendo mostrados*@
        </div>
    </div>
}
