@model BikeSegura.Models.Historicos

@{
    ViewBag.Title = "Cadastro Histórico";
    Layout = "~/Views/Shared/_Usuario.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container conteudo">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.SituacaoAtual, htmlAttributes: new { @class = "control-label" })
                @Html.EnumDropDownListFor(model => model.SituacaoAtual, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SituacaoAtual, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.BicicletasId, "Bicicleta", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("BicicletasId", (SelectList)ViewBag.MyList, "Selecione Bicicleta", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BicicletasId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PessoasId, "Vendedor", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("PessoasId", (SelectList)ViewBag.MyList, "Selecione Pessoa", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PessoasId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.PessoasId, "Comprador", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("PessoasId", (SelectList)ViewBag.MyList, "Selecione Pessoa", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PessoasId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.DataAquisicao, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.DataAquisicao, new { htmlAttributes = new { @class = "form-control data" } })
                @Html.ValidationMessageFor(model => model.DataAquisicao, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.DataTransferencia, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.DataTransferencia, new { htmlAttributes = new { @class = "form-control data" } })
                @Html.ValidationMessageFor(model => model.DataTransferencia, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-12">
                <div class="botao-salvar">
                    <a class="btn btn-danger" href="@Url.Action("Index", "Historicos")" role="button">
                        <i class="fas fa-times"></i>
                        Cancelar
                    </a>
                    <button type="submit" value="Create" class="btn btn-success">
                        <i class="fas fa-save"></i>
                        Cadastrar
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
