@model BikeSegura.Models.InformacoesRoubos

@{
    ViewBag.Title = "Editar Roubo";
    Layout = "~/Views/Shared/_Usuario.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container conteudo">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Cidade, "Cidade onde a bicicleta foi roubada (*)", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.Estado, "Estado onde a bicicleta foi roubada (*)", htmlAttributes: new { @class = "control-label" })
                @Html.EnumDropDownListFor(model => model.Estado, "Selecione Estado", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-12">
                @Html.LabelFor(model => model.LocalAdicional, "Informações adicionais do local onde a bicicleta foi roubada (*)", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.LocalAdicional, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocalAdicional, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.DataRoubo, "Data do Roubo (*)", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.DataRoubo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataRoubo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-6">
                @Html.LabelFor(model => model.BicicletasId, "Bicicleta Roubada (*)", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("BicicletasId", (SelectList)ViewBag.MyList, "Selecione Bicicleta", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BicicletasId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-12">
                @Html.LabelFor(model => model.Relato, "Informações sobre o roubo (*)", htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Relato, new { @class = "form-control", rows = "3" })
                @Html.ValidationMessageFor(model => model.Relato, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-12">
                <div class="botao-salvar">
                    <a class="btn btn-danger" href="@Url.Action("ListaUsuario", "InformacoesRoubos")" role="button">
                        <i class="fas fa-times"></i>
                        Cancelar
                    </a>
                    <button type="submit" value="Save" class="btn btn-success">
                        <i class="fas fa-save"></i>
                        Salvar
                    </button>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <small class="form-text">
                    Campos marcados com (*) são obrigatórios
                </small>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
