@model IEnumerable<BikeSegura.Models.InformacoesRoubos>

@{
    ViewBag.Title = "Lista de Informações de Roubos";
    Layout = "~/Views/Shared/_Usuario.cshtml";
}

<div class="container conteudo">
    <p>
        <a class="btn btn-success" href="@Url.Action("Create", "InformacoesRoubos" )" role="button">
            <i class="fas fa-plus"></i>
            Informações de Roubo
        </a>
    </p>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Cidade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        Informações adicionais sobre o local
                    </th>
                    <th>
                        Marca
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bicicletas.Modelo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataRoubo)
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @Html.Raw(ViewData["INFO"].ToString())
                </tr>
            </tbody>
        </table>
    </div>
</div>
